.ToDoItem{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    border: 1px dotted #c7c7c7;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.Buttoms{
    display: flex;
    gap: 1rem;
}

.Delete{
    background-color: rgb(251, 142, 142);
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.Edit{
    background-color: rgb(251, 235, 142);
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}