.show-to-do{
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

.show-to-do h1{
    text-align: center;
    margin-bottom: 2rem;
}

.ToDoItems{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 0 auto;
}
