.show-to-do{
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

.show-to-do h1{
    text-align: center;
    margin-bottom: 2rem;
}

.ToDoItems{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .ToDoItems{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .ToDoItems{
        grid-template-columns: repeat(2, 1fr);
    }
}